<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TJV7MJCBL6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TJV7MJCBL6');
</script>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
<script data-ad-client="ca-pub-2649260317960621" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
